/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
/.clangd
/.clang-format
/.clang-tidy
**/.test
/BuildProfile.ets
**/obfuscation
*.har
*.hap
*.so
/.appanalyzer
.signing/
**/.cxx/
**/oh_modules/
**/.hvigor/
